body {
  font-family: sans-serif;
  margin: 0; /* Змінено на 0, щоб не було відступів по замовчуванню */
}

.navbar {
  background-color: #181537;
  display: flex; /* Активуємо Flexbox */
  justify-content: center; /* Центруємо елементи по горизонталі */
  align-items: center; /* Вирівнюємо елементи по вертикалі */
  padding: 0;
}

.navbar-links {
  display: flex; /* Використовуємо Flexbox для центральних посилань */
  justify-content: center; /* Центруємо посилання всередині navbar-links */
  flex-grow: 1; /* Дозволяємо цьому контейнеру займати доступний простір */
}

.navbar a {
  color: #fff;
  display: inline-block;
  font-size: 15px;
  padding: 16px;
  position: relative; /* Встановлюємо відносне позиціювання для псевдоелементів */
  text-decoration: none; /* Видаляємо стандартне підкреслення */
  overflow: hidden; /* Ховаємо все, що виходить за межі пункту меню */
}

/* Додаємо підкреслення при наведенні */
.navbar a:hover::after {
  content: ""; /* Псевдоелемент без контенту */
  position: absolute; /* Абсолютне позиціювання */
  left: 3px; /* Відступ зліва */
  bottom: 2px; /* Відступ знизу */
  height: 2px; /* Висота підкреслення */
  width: calc(100% - 6px); /* Ширина підкреслення, враховуючи відступи */
  background-color: #EC1539; /* Колір підкреслення */
  transition: width 0.3s; /* Додаємо анімацію до ширини */
}